.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 14%;
    padding-top: 120px;
    width: 100%;
}

.wish-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;

    h1 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
    }
}

.no-wish-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    height: 100%;

    .no-wish-image {
        position: absolute;
        left: 40%;
        top: 104px;
    }

    .no-wish-descr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 280px;
        gap: 12px;

        .no-wish-text {
            margin-top: 16px;
            font-size: 24px;
        }

        .btn-nt {
            width: 140px;
        }
    }
}

.loading {
    height: 300px;
    width: 300px;
    animation: rotation 3s infinite ease-in-out;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    .page-container {
        padding: 8%;
    }
}