@use "src/assets/styles/vars" as *;

:host ::ng-deep .form {
    .mat-mdc-form-field {
        width: 100%;

        .mat-mdc-form-field-label {
            color: $black !important;
        }
    }
}

:host ::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    color: $white;
    background-color: $accent;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 8px 20px;
}

.subtitle {
    padding: 0 20px;
}

.tag {
    color: $white;
}

.btn-main {
    color: $white;
    background-color: $accent;

    &:hover {
        border-color: $accent-dark;
    }
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    color: $medium-grey;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        color: $grey;
    }
}

textarea {
    resize: none;
}
