.dialog-container {
    padding: 12px;
}

:host ::ng-deep .form {
    .mat-form-field {
        width: 100%;

        .mat-form-field-label {
            color: var(--black) !important;
        }
    }
    
    .mat-form-field-flex .mat-form-field-infix {
        padding: 12px 0px !important;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag {
    color: var(--white);
}

.btn-main {
    color: var(--white);
    background-color: var(--accent);

    &:hover {
        border-color: var(--accent-hover);
    }
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    color: #ccc;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(101, 101, 101);
}

.submit-btn {
    font-size: 16px;
    padding: 6px 16px;
}

.img-crop-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cropper {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
    border: 2px dashed var(--accent);
    border-radius: 4px;
    color: var(--accent);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: var(--black);
        border: 2px dashed var(--black);
    }
}

.edit-img {
    width: 100%;
    margin-bottom: 12px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 330px;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: var(--accent);
    }

    label {
        cursor: pointer;
    }
}

.file-input {
    margin: 0 auto;
}

#upload-photo,
#btn-reload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}