<div class="page-container">
    @if (wishList(); as list) {
        <div  class="page-box">
            @if (list.length) {
                <div class="wish-title-box">
                    <div class="wish-title">
                        <h1>Wish list</h1>
                        <button class="btn btn-accent" (click)="openDialog()">Add wish<i class="fa-regular fa-plus"></i></button>
                    </div>
                    <app-wish-card [wishList]="list" />
                </div>
            } @else {
                <div class="no-wish-box">
                    <div class="no-wish-image">
                        <ng-lottie [options]="options"  width="320px" height="320px" [styles]="styles"></ng-lottie>
                        </div>
                        <div class="no-wish-descr">
                        <p class="no-wish-text">You don't have any wish</p>
                        <button class="btn btn-white btn-nt" type="button" (click)="openDialog()">
                            Add wish <i class="fa-regular fa-plus"></i>
                        </button>
                        </div>
                </div>
            }
        </div>
    } @else {
      <div class="loading">
          <app-loader></app-loader>
      </div>
    }
</div>