<mat-toolbar class="header">
  <span *ngIf="user.username; else loading" routerLink="/mainpage">Welcome back, {{ user.username }}!</span>
  <ng-template #loading>
    <span></span>
  </ng-template>
  <div class="header-right">
    <p>{{ user.username }}</p>
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="btn">
      <mat-icon>person icon</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person icon</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>person icon</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
