<mat-toolbar class="header" *ngIf="user">
  <span *ngIf="user.username; else loading" class="welcome-title" routerLink="/mainpage">Hello, {{ user.username }}!</span>
  <ng-template #loading>
    <span></span>
  </ng-template>
  <div class="header-right">
    <p *ngIf="user.username">{{ user.username }}</p>
    <div>
      <img *ngIf="user.profile_photo; else icon" class="user-photo" [src]="user.profile_photo" [matMenuTriggerFor]="menu"/>
      <ng-template #icon>
        <button mat-mini-fab [matMenuTriggerFor]="menu" class="btn">
          <mat-icon>person icon</mat-icon>
        </button>
      </ng-template>
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person icon</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
