<mat-toolbar class="header">
  <span *ngIf="user.username; else loading">Welcome back, {{ user.username }}!</span>
  <ng-template #loading>
    <span></span>
  </ng-template>
  <div class="header-right">
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="btn">
      <mat-icon>person icon</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>person icon</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <button class="btn" mat-mini-fab type="button" color="accent" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>
