@if (wishForm) {
    <div class="dialog-container">
        <div class="header">
            <h1 class="fs-2 m-0">{{ dialogTitle }}</h1>
            <button mat-dialog-close class="close-btn">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        @if (!editData) {
            <p class="mt-2">What you wish?</p>
        }

        <mat-dialog-content>
            <form [formGroup]="wishForm" class="form" (ngSubmit)="addWish()">
                <div class="img-crop-container">
                    @if (!croppedImage) {
                        @if(!isEditImage) {
                            <div class="file-input">
                                <label class="btn-upload" for="upload-photo">Select image</label>
                                <input type="file" (change)="fileChangeEvent($event)" id="upload-photo"/>
                            </div>
                        } @else {
                            <div class="file-input">
                                <img [src]="imageEdit" class="edit-img"/>
                                <div class="button-box">
                                    <label for="upload-photo">Change image</label>
                                    <input type="file" (change)="fileChangeEvent($event)" id="upload-photo"/>
                                </div>
                            </div>
                        }
                    }

                    @if (imageChangedEvent) {
                        <div class="cropper">
                            <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="1 / 1"
                            [resizeToWidth]="480"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (loadImageFailed)="loadImageFailed()"
                            ></image-cropper>
                            @if (croppedImage) {
                                <div class="button-box">
                                    <label for="btn-reload">Change image</label>
                                    <input type="file" (change)="fileChangeEvent($event)" id="btn-reload"/>
                                </div>
                            }
                        </div>
                    }
                </div>

                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" minlength="2" placeholder="Enter wish title" required />
                    @if (title.errors?.['required']) {
                        <mat-error>Title is required</mat-error>
                    }
                    @if (title.touched && title.errors?.['minlength']) {
                        <mat-error>The length of title must be at least 2 characters long</mat-error>
                    }
                    @if (title.touched && title.errors?.['maxlength']) {
                        <mat-error>The length of title must be 70 characters or fewer</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" class="input-price" formControlName="price" placeholder="Enter price" required />
                    @if (price.errors?.['required']) {
                        <mat-error>Price is required</mat-error>
                    }
                    @if (price.touched && price.errors?.['min']) {
                        <mat-error>The price must be at least 0.01 $</mat-error>
                    }
                    @if (price.touched && price.errors?.['max']) {
                        <mat-error>The price must be 100 000 000 or fewer</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency" placeholder="Select currency" required>
                        @for (cur of currencyList; track cur.value) {
                            <mat-option [value]="cur.value">
                                <span>{{cur.name}}</span>
                            </mat-option>
                        }
                    </mat-select>
                    @if (currency.errors?.['required']) {
                        <mat-error>Please select the currency</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Link</mat-label>
                    <input matInput formControlName="link" placeholder="Enter link"/>
                    @if (link.touched && link.errors?.['pattern']) {
                        <mat-error>Link must start with 'https://'</mat-error>
                    }
                </mat-form-field>

                <div mat-dialog-action [align]="'end'">
                    <button [disabled]="!wishForm.valid" mat-flat-button type="submit" class="submit-btn btn-main">{{actionBtn}}</button>
                </div>

            </form>
        </mat-dialog-content>
    </div>
}
