.homepage-container {
    height: 100%;
}

.body-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;

    .todo-box {
        width: 60%;

        .form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .input-search {
                width: 78%;
            }

            .input-category {
                width: 20%;
            }
        }

        .mat-form-field {
            font-size: 14px;
        }
    }

    .table-box {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        table {
            width: 100%;
        }

        .paginator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--white);
            padding-left: 18px;

            .paginator_text {
                font-size: 12px;
            }

            .progress {
                width: 100%;
            }
        }
    }
}

::ng-deep .form {
    .mat-form-field {
        .mat-form-field-label {
            color: var(--black) !important;
        }
    }
    
    .mat-form-field-flex .mat-form-field-infix {
        padding: 12px 0px !important;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;


}

.loading::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--white);
}

.action-col {
    text-align: right;

    .action-col-text {
        padding-right: 12px;
    }
}

.ready {
    color: var(--light-grey);
}

.unready {
    color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}

.tag {
    border-radius: 12px;
    padding: 4px 8px;
}

.ready-tag {
    color: var(--white);
    background-color: var(--light-grey);
}

.unready-tag {
    color: var(--white);
    background-color: var(--accent);
}

.clear-btn {
    color: var(--light-grey);
}

.clear-btn:hover {
    color: var(--grey);
}