<div class="header">
    <h1 class="fs-2 m-0">{{dialogTitle}}</h1>
    <button mat-dialog-close class="close-btn">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<p class="mt-2">What you need to do?</p>
<div mat-dialog-content>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
                <mat-option *ngFor="let taskcategorie of taskCategories" [value]="taskcategorie">
                    {{taskcategorie}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="category?.errors?.['required']">Please select the category</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Title</mat-label>
            <input formControlName="title" minlength="2" matInput placeholder="enter todo title..." required>
            <mat-error *ngIf="title?.errors?.['required']">Title is required</mat-error>
            <mat-error *ngIf="title?.errors?.['minlength']">Title must be at least 2 characters long</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Add tags</mat-label>
            <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of tagsList" color="accent" (removed)="removeTag(tag)" selected>
                    {{tag}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New tag..."
                        *ngIf="!cantAddTag"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTag($event)"
                        required>
            </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" minlength="2" matInput placeholder="enter todo description..." required></textarea>
            <mat-error *ngIf="description?.errors?.['required']">Description is required</mat-error>
            <mat-error *ngIf="description?.errors?.['minlength']">Description must be at least 2 characters long</mat-error>
        </mat-form-field>

        <div mat-dialog-action [align]="'end'">
            <button [disabled]="!todoForm.valid || !tagsList.length" mat-flat-button color="accent" type="submit" class="submit-btn">{{actionBtn}}</button>
        </div>

    </form>
</div>




