.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-top: 4%;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: white;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
    width: 80%;
}

.headings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
}

.btn-large {
    font-size: 16px;
    padding: 12px 16px;
    width: 80%;
}

a {
    text-decoration: none;
}

.activeText {
    text-align: center;
}

.h-login {
    padding-left: 16px;
    padding-right: 16px;
}

.switch_to_text {
    color: #ccc;
    transition: all 0.3s;
}

.switch_to_text:hover {
    color: pink;
    cursor: pointer;
}