<ng-container *ngIf="todoForm">
    <div class="header">
        <h1 class="fs-2 m-0">{{ dialogTitle }}</h1>
        <button mat-dialog-close class="close-btn">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <p class="mt-2">What you need to do?</p>
    <div mat-dialog-content>
        <form [formGroup]="todoForm" class="form" (ngSubmit)="addTodo()">
    
            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" placeholder="Select category" required>
                    <mat-option *ngFor="let categorie of categories" [value]="categorie">
                        <span>{{categorie}}</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="category?.errors?.['required']">Please select the category</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                <mat-label>Task description</mat-label>
                <textarea formControlName="task" minlength="2" matInput placeholder="Enter todo description" required></textarea>
                <mat-error *ngIf="task?.errors?.['required']">Description is required</mat-error>
                <mat-error *ngIf="task?.touched && task?.errors?.['minlength']">The length of task must be at least 2 characters long</mat-error>
                <mat-error *ngIf="task?.touched && task?.errors?.['maxlength']">The length of task must be 70 characters or fewer</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                <mat-label>Choose a date</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="date" maxlength="10" placeholder="DD/MM/YYYY" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="date?.errors?.['required']">Date is required</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority" placeholder="Select priority" required>
                    <mat-option *ngFor="let priority of priorities" [value]="priority">
                        <span>{{ priority | priority }}</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="priority?.errors?.['required']">Please select the priority</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                <mat-label>Add tags*</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip *ngFor="let tag of tagsList" color="accent" class="tag" (removed)="removeTag(tag)" selected>
                        {{tag}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Enter new tag"
                            *ngIf="!cantAddTag"
                            minlength="2"
                            maxlength="14"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTag($event)"
                            required>
                </mat-chip-list>
            </mat-form-field>
    
            <div mat-dialog-action [align]="'end'">
                <button [disabled]="!todoForm.valid || !tagsList.length" mat-flat-button type="submit" class="submit-btn btn-main">{{actionBtn}}</button>
            </div>
    
        </form>
    </div>
</ng-container>
