<div class="profile-container">
    <app-header [user]="user"></app-header>
    <div class="profile-box">
        <div class="profile">
            <h1 class="text-center">Edit profile</h1>
            <form [formGroup]="profileForm" class="form">
                <div class="img-crop-container">
                    <div class="title-box">
                        <h3 class="h3 text-center">Select profile picture</h3>
                        <div class="button-box" *ngIf="croppedImage">
                            <label for="upload-photo"><i class="fa-solid fa-rotate-right"></i></label>
                            <input type="file" (change)="fileChangeEvent($event)" id="upload-photo"/>
                        </div>
                    </div>
                    <div class="file-input" *ngIf="!croppedImage">
                        <label class="btn-upload" for="upload-photo">Select image</label>
                        <input type="file" (change)="fileChangeEvent($event)" id="upload-photo"/>
                    </div>
                    <div class="cropper" *ngIf="imageChangedEvent">
                        <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="1 / 1"
                        [resizeToWidth]="256" 
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (cropperReady)="cropperReady($event)"
                        (imageLoaded)="imageLoaded($event)"
                        (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>

                        <img class="img-box" [src]="croppedImage"/>
                    </div>
                </div>
                <div class="input-box">
                    <h3 class="h3 text-center">Edit your name</h3>
                    <mat-form-field appearance="outline" color="primary" floatLabel="always">
                        <mat-label>Name</mat-label>
                        <input formControlName="username" matInput placeholder="example@gmail.com" required>
                        <mat-error *ngIf="username?.errors?.['required']">Email is required</mat-error>
                        <mat-error *ngIf="username?.errors?.['email']">Please enter a correct email format</mat-error>
                    </mat-form-field>
                </div>
                <button [disabled]="!profileForm.valid" mat-flat-button class="btn" (click)="submit()">Submit</button>
            </form>
        </div>
    </div>
</div>
