<div class="profile-container">
    <app-header [user]="user"></app-header>
    <div class="profile-box">
        <div class="profile">
            <h1>Edit profile</h1>
            <form [formGroup]="profileForm" class="form">
                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Name</mat-label>
                    <input formControlName="username" matInput placeholder="example@gmail.com" required>
                    <mat-error *ngIf="username?.errors?.['required']">Email is required</mat-error>
                    <mat-error *ngIf="username?.errors?.['email']">Please enter a correct email format</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="example@gmail.com" required>
                    <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
                    <mat-error *ngIf="email?.errors?.['email']">Please enter a correct email format</mat-error>
                </mat-form-field>
                <button [disabled]="!profileForm.valid" mat-flat-button class="btn" (click)="submit()">Submit</button>
            </form>
        </div>
    </div>
</div>
