@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$my-primary: mat.m2-define-palette(mat.$m2-purple-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette, 300);
$my-theme: mat.m2-define-palette(mat.$m2-deep-orange-palette, 300);

$my-theme: mat.m2-define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.m2-define-typography-config(
    $font-family: serif,
  )
));

@include mat.all-component-themes($my-theme);
