@use "src/assets/styles/vars" as *;
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: $yellow;
}

.text-center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
  gap: 4px;
  border: 0;
  cursor: pointer;
}

.btn-accent {
  color: $white;
  background-color: $accent;
  transition: all 0.4s ease-in-out;

  &:hover:enabled {
    color: $white;
    background-color: $black;
  }
}

.btn-white {
  color: $black;
  background-color: $white;
  transition: all 0.4s ease-in-out;

  &:hover:enabled {
    color: $white;
    background-color: $black;
  }
}

.error-snack-bar {
  color: $black;
  background-color: $danger;

  .mat-simple-snackbar-action {
    color: $black;
  }
}

.success-snack-bar {
  color: $black;
  background-color: $accent;

  .mat-simple-snackbar-action {
    color: $black;
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  color: $black;
  background: $accent;
}
