@use "src/assets/styles/vars" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: $yellow;
}

.mat-typography p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
  gap: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;

  &:hover:enabled {
    cursor: pointer;
  }
}

.btn-accent {
  color: $white;
  background-color: $accent;

  &:hover:enabled {
    color: $white;
    background-color: $accent-dark;
  }

  &:disabled {
    color: $white;
    background-color: $accent-lighter;
  }
}

.btn-secondary {
  color: $accent-dark;
  background-color: transparent;
  border: 2px solid $accent-dark;

  &:hover:enabled {
    color: $black;
    background-color: transparent;
    border: 2px solid $black;
  }

  &:disabled {
    color: $grey;
    background-color: transparent;
    border: 2px solid $grey;
  }
}

.btn-white {
  color: $black;
  background-color: $white;

  &:hover:enabled {
    color: $white;
    background-color: $accent-dark;
  }
}

.btn-icon {
  color: $accent-dark;
  background-color: transparent;
  border-radius: 50%;

  &:hover:enabled {
    color: $accent-dark;
    background-color: $accent-lighter;
  }

  &:disabled {
    color: $medium-grey;
    background-color: transparent;
  }
}

.btn-icon-warning {
  color: $danger;
  background-color: transparent;
  border-radius: 50%;

  &:hover:enabled {
    color: $white;
    background-color: $danger;
  }

  &:disabled {
    color: $medium-grey;
    background-color: transparent;
  }
}

.error-snack-bar {
  color: $black;
  background-color: $danger;

  .mat-simple-snackbar-action {
    color: $black;
  }
}

.success-snack-bar {
  color: $black;
  background-color: $accent;

  .mat-simple-snackbar-action {
    color: $black;
  }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  color: $black;
  background: $accent;
}

.link {
  color: $accent-dark;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}
