$accent: #ECBEE1;
$accent-lighter: #F5DEF0;
$accent-dark: #CC50AE;

$danger: #F24535;
$warning: #F29F05;
$success: #35BF30;
$neutral: #2999A6;
$yellow: #FFE6B6;

$white: #FFF;
$medium-grey: #CCC;
$grey: #7C7C7C;
$black: #111111;